/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SHORTCUT FOR CONTAINER */

.margin{
    margin: 20px 40px;
}

.padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-top: 15px;
}

/* HEADER */

.titolo{
    margin: 10px;
    padding: 10px;
}

/* SEPARATORE */

.separator{
    height: 2px;
    background-color: black;
}

/* MAIN */

.contenitore{
    border: solid;
    border-color: black;
    min-height: 150px;
}

/* FOOTER */

.firma{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}